@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('Gilroy'), local('../fonts/Gilroy-Bold'),
    url('../fonts/Gilroy-Bold?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: local('Gilroy'), local('../fonts/Gilroy-SemiBold'),
    url('../fonts/Gilroy-SemiBold?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
} 

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('Gilroy'), local('../fonts/Gilroy-Regular'),
    url('../fonts/Gilroy-Regular?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin Reg {
  font-family: 'Gilroy', sans-serif;
  font-weight: normal;
}

@mixin Bold {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
}

@mixin SemiBold {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
}