* 
  box-sizing: border-box
img
  max-width: 100%  
a
  text-decoration: none
  &:visited
    color: #fff
body
  +Reg
.container
  width: 1365px
  margin: auto
.container-small
  width: 1260px
  margin: auto
@media ( max-width: 1370px )
  .container
    width: 1190px
@media (max-width: 1200px)
  .container
    width: 760px
    width: 95%
@media (max-width: 768px)
  .container
    width: 93%
  .container-help
    width: 100%!important
  .header-description
    margin-top: 15px
    font-size: 14px
    margin-bottom: 0
  .header-title
    font-size: 16px
@media (max-width: 480px)
  .container
    width: 750px
    width: 92%
.interface
  &-header
    &__h2
      +Bold
      font-size: 42px
  &-title
    letter-spacing: 0.7px
  &-logo
    margin-right: 13px
    &__title
      +Bold
      font-size: 24px
      margin-top: -7px
    &__subtitle
      +Reg
      font-size: 14px
      color: #9AA4B6
      margin-top: 3px
  &-phone
    +Bold
    font-size: 24px
  &-time
    +Reg
    font-size: 14px
    color: #99A3B5
    margin-top: 6px
  &-button
    &__one
  &-information
    &__title
      font-size: 14px
      letter-spacing: -0.3px
    &__subtitle
      +Bold
      font-size: 14px
      color: #4B5DFF
      text-decoration-line: underline
      margin-top: 8px
      letter-spacing: -0.3px
  &-button
    &__one
      +Bold
      display: inline-block
      font-size: 14px
      padding: 17px 57px
      letter-spacing: -0.4px
      border: 1px solid #4B5DFF;
      box-sizing: border-box
      border-radius: 0px 30px 30px 30px
      &:visited
        color: #4B5DFF
    &__two
      +Bold
      font-size: 14px
      color: #fff
      padding: 19px 32px
      border: 1px solid #FFFFFF
      border-radius: 0px 30px 30px 30px
      &:visited
        color: #fff
@media (max-width: 768px)
  .interface
    &-button
      &__two
        padding: 17px 25px
        font-size: 12px
    &-logo
      margin-right: 9px
      &__subtitle
        margin-top: 6px
      img
        width: 51px
      &__title
        font-size: 18px
      &__subtitle
        font-size: 12px
        // w36px  
    &-phone
      font-size: 18px
    &-time
      margin-top: 8px
      font-size: 12px
@media (max-width: 480px)
  .interface
    &-logo
      width: 36px
      &__subtitle
        margin-top: 3px