.about
  margin-top: 70px
  &-block
    width: 180px
    &s
      margin-top: 44px
      display: flex
      justify-content: space-between
    &__step
      color: #4B5DFF
      width: 42px
      height: 42px
      background: #F2F5F9
      border-radius: 50px
      text-align: center
      span
        display: inline-block
        font-size: 24px
        margin-top: 7.5px
    &__title
      +Bold
      margin-top: 25px
      font-size: 20px
    &__subtitle
      margin-top: 15px
      line-height: 150%