.contact
  margin-top: 80px
  margin-bottom: 80px
  display: flex
  justify-content: space-around
  &-block
    display: flex
    flex-direction: column
    &__title
    &__social
    &__phone
    &__shedule
      &-city
      &-time
    &__btn
    &-map
      width: 848px
      border-radius: 0px 20px 20px 0px