.contact
  margin-top: 99px
  margin-bottom: 65px
  display: flex
  justify-content: space-between
  &-block
    display: flex
    flex-direction: column
    &__title
      +Bold
      font-size: 42px
    &__social
      margin-top: 28px
      img
        width: 22px
        &:not(:last-child)
          margin-right: 13px
    &__phone
      margin-top: 11px
    &__schedule
      display: flex
      justify-content: space-between
      line-height: 25px
      margin-top: 26px
      &-city
      &-time
        margin-left: 59px
    &__btn
      margin-top: 54px
      &-btn
        +Bold
        font-size: 14px
        border: 1px solid #4B5DFF
        border-radius: 0px 30px 30px 30px
        color: #4B5DFF
        padding: 18px 35px
        &:visited
          color: #4B5DFF
    &-map
      width: 806px
      margin-top: 7px
      border-radius: 0px 20px 20px 0px