.feature
  margin-top: 40px
  &-block
    display: flex
    align-items: center
    justify-content: space-around
    &__items
      width: 155.8px
      line-height: 19px
      display: flex
      &::before
        position: absolute
        content: url(../img/feature/star.svg)
        transform: translate(-20px)    
      &:not(:last-child)::after
        position: absolute
        content: url(../img/feature/line.svg)
        transform: translate(200px, 4px)
      
        