.footer
  padding-top: 20px
  padding-bottom: 40px
  display: flex
  justify-content: space-between
  font-size: 14px
  &s
    background: #F2F5F9  
  &-information
    &-1
      &-logo
        display: flex
        align-items: center
        &__img
      &-name
        &__title
        &__subtitle
    &-2
      margin-top: 12px
      display: flex
      justify-content: space-between
      &__place
        +Bold
      &__adress
        line-height: 17px
        width: 167px
    &-3
      display: flex
      justify-content: space-between
      margin-top: 16px
      &__yourcity
        &__title
        &__description
          margin-top: 10px
          font-weight: bold
          color: #4B5DFF
          text-decoration: underline
      &__get
        width: 167px
        &__title
        &__description
          margin-top: 10px
          font-weight: bold
          color: #4B5DFF
          text-decoration: underline
  &-device
    margin-top: 14px
    color: #9AA4B6
    a
      color: #9AA4B6
      &:visited
        color: #9AA4B6
    &__title
      +Bold
    &__description
      display: flex
      flex-direction: column
      text-decoration: underline
      &__link
        margin-top: 20px
  &-brand
    margin-top: 14px
    width: 290px
    color: #9AA4B6
    a
      color: #9AA4B6
      text-decoration: underline
      &:visited
        color: #9AA4B6
    &__title
      +Bold
    &_search
      display: flex
      justify-content: space-between
      &-block
        display: flex
        flex-direction: column
        &__item
          margin-top: 20px
      &-1
      &-2
      &-3
  &-contacts
    margin-top: 14px
    &__social
      display: flex
      justify-content: space-between
    &__worktime
      margin-top: 8px
      color: #9AA4B6
    &__btn
      margin-top: 19px
      display: block
      color: #4B5DFF
      text-align: center
      &:visited
        color: #4B5DFF
    &__payment
      margin-top: 40px
      display: flex
      justify-content: space-between
      &_img
