.header
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 15px
  padding-bottom: 15px
  &-logo
    display: flex
    align-items: center
    &__img
    &__text
      &-title
      &-subtile
  &-information
    display: flex
    &-block
        &-1
          width: 125px
          margin-right: 38px
        &-2
          width: 199px
    &-block
      display: flex
      flex-direction: column
    &__title
    &__subtitle
  &-contact
    display: flex
    flex-direction: column
    &__social
      display: flex
      align-items: center
      &s
        &-icons:not(:last-child)
          margin-right: 6px
      &-phone        
    
      
           