.menu
  background: #F2F5F9
  border-radius: 20px 20px 0px 0px
  padding: 0px 0 0px 0
  font-size: 14px
  letter-spacing: -0.3px
  padding-left: 24px
  padding-right: 24px
  a
    color: #000
    &:active
      color: #000
    &:visited
      color: #000
  &-block
    display: flex
    align-items: center
    justify-content: space-around
    &__item
      display: flex
      align-items: center
      height: 60px
      a
        padding: 0px 8px 0px 8px
      span
        padding: 0px 8px 0px 8px
@media ( max-width: 1200px )
  .menu
    &-block
      &__item
        &:nth-child(1)
          display: none
@media ( max-width: 1050px )
  .menu
    display: none
@media ( max-width: 900px )
  .menu
    &-block
      &__item
        font-size: 12px
        &:first-child
          display: none
@media ( max-width: 480px )
  .menu
    display: none