.menu
  background: #F2F5F9
  border-radius: 20px 20px 0px 0px
  padding: 17px 0 17px 0
  font-size: 14px
  letter-spacing: -0.3px
  padding-left: 24px
  padding-right: 24px
  &-block
    display: flex
    align-items: center
    justify-content: space-around
    &__item
      display: flex
      align-items: center
      span
        padding: 0px 8px 0px 8px
@media ( max-width: 900px )
  .menu
    &-block
      &__item
        font-size: 12px
        &:first-child
          display: none
@media ( max-width: 480px )
  .menu
    display: none