.repair
  &-block
    display: flex
    justify-content: space-around
    &__interface
      width: 445px
      height: 300px
      background: #F2F5F9
      &:last-child
        margin-top: 14px
    &__title
      &_img
    &__subtitle
      &-information
      &-button    
    &__one
      display: flex
      flex-direction: column
      &-smart
      &-laptop
    &__two
      display: flex
      flex-direction: column
      &-tablet
      &-console
    &__three
      width: 445px
      height: 613px
      background: #F2F5F9
      &-glass